<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <logger name="Microsoft.AspNetCore" additivity="true">
    <level value="INFO" />
  </logger>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="ManagedColoredConsole" />
  </root>

  <appender name="AsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender, Easy.Logger">
    <lossy value="false" />
    <bufferSize value="512" />
    <Fix value="268" />

    <appender-ref ref="RollingFile" />
    <appender-ref ref="ManagedColoredConsole" />
    <!--Any other appender or forwarder...-->
  </appender>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Once" />
    <maxSizeRollBackups value="60" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <datePattern value="_yyyyMMdd_hhmmss" />
    <preserveLogFileNameExtension value="true" />
    <countDirection value="1" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd,HH:mm:ss:fff},%level,%logger{1},%thread: %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="ManagedColoredConsole" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd,HH:mm:ss:fff},%level,%logger{1},%thread: %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
</log4net>